@function ems($a, $b: 16) {
  @return ($a / $b) * 1em;
}

@for $i from 1 through 3 {
  .date-#{$i} {
    @include note-color {
      background-color: adjust-hue(magenta, $i * 40);
      margin: 5px;
    }  
  }
}

@each $mod, $color in $mod-colors {
  .#{$mod} {
    background: $color;
    @include note-color {
      margin: 5px;
    }
  }
}