@for $i from 1 through 3 {
  .date-#{$i} {
    background-color: adjust-hue(magenta, $i * 40);
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: ems(10);
    margin-top: ems(16);      
  }
}

@for $i from 1 through 18 {
  .mod-#{$i} {
    background-color: adjust-hue(magenta, $i * 15);
    display: inline-block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }
}