// ----- Flexbox mixin ----- /
@mixin flexb (
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null,
  $align: null) {
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    align-items: $align;
  }

// Media Queries mixin
@mixin mq($break) {
  @if $break == sm {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $break == med {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $break == lg {
    @media (min-width: 1024px) {
      @content;
    }
  }
 }

 // input styling
 @mixin input-style {
  padding: ems(15);
  border: 1px solid rgba(0,0,0,.5);
  border-radius: ems(5);
  @content;
 }

// note styling 
@mixin note-color {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid $primary-color;
  width: 15px;
  height: 15px;
  @content;
}