// Colors
$white: #fff;
$black: #000;

$primary-color: grey;
$primary-light: lighten($primary-color, 35%);
$text-color: darkslategrey;
$text-dark: darken($text-color, 15%);
$background-color: whitesmoke;
$color-bg-opacity: rgba(0,0,0, 0.7);
$overlay-bg: rgb(49, 80, 80);
$overlay-bg-dark: darken($overlay-bg, 10%);

// note colors
$mod-colors: (
  'mod-1': turquoise,
  'mod-2': darkcyan,
  'mod-3': green,
  'mod-4': greenyellow,
  'mod-5': yellow,
  'mod-6': khaki,
  'mod-7': orange,
  'mod-8': red,
  'mod-9': brown,
  'mod-10': $white,
  'mod-11': $black,
  'mod-12': navy,
  'mod-13': blue,
  'mod-14': dodgerblue,
  'mod-15': magenta,
  'mod-16': pink,
  'mod-17': darkgrey,
  'mod-18': darkslategrey
);