// Colors

$background-color: whitesmoke;
$primary-color: grey;
$white: #fff;
$text-color: darkslategrey;
$primary-light: lighten($primary-color, 35%);
$text-dark: darken($text-color, 15%);
$random-color: rgb(random(255), random(255), random(255));
$color-bg-opacity: rgba(0,0,0, 0.7);
$overlay-bg: rgb(49, 80, 80);
$overlay-bg-dark: darken($overlay-bg, 10%);