.form-1 {
 @include flexb;
 input {
  @include input-style {
    border-radius: ems(5) 0 0 ems(5);
    flex-grow: 1;
  }
  @include mq(med) {
    width: 250px;
    }
  }
  button {
    background-color: $primary-color;
    border-radius: 0 ems(5) ems(5) 0;
    width: 50px;
    color: $white;
    font-size: 25px;
  }
}

.form-2 { 
  input,
  textarea {
  @include input-style {
    width: 100%;
    background: $primary-light;
    margin-top: ems(5);
    }
  }
  textarea {
    height: 130px;
    @include mq(med) {
      height: 200px;
    }
  }
}

input:focus,
textarea:focus {
  box-shadow: inset 0 0 5px $color-bg-opacity;
}

%btn {
  padding: ems(15);
  margin-top: ems(10);
  border-radius: 5px;
  color: $white;
  &:hover {
    background: pink;
  }
  &:active {
    background: red;
  }
}

.btn {
  &-post {
    @extend %btn;
    background: seagreen;
  }
  &-cancel {
    @extend %btn;
    background: dodgerblue;
  }
}

label[for="feather-search"] {
  font-size: .8rem;
  padding-top: ems(5);
}


