.form-1 {
 @include flexb;
 input {
  @include input-style {
    border-radius: ems(5) 0 0 ems(5);
    flex-grow: 1;
  }
  @include mq(med) {
    width: 250px;
    }
  }
  button {
    background-color: $primary-color;
    border-radius: 0 ems(5) ems(5) 0;
    height: ems(51);
    width: ems(50);
  }
}

.form-2 { 
  input,
  textarea {
  @include input-style {
    width: 100%;
    background: $primary-light;
    margin-top: ems(5);
    }
  }
  textarea {
    height: 200px;
  }
  button {
    padding: ems(15);
    margin-top: ems(10);
    background: seagreen;
    border-radius: 5px;
    color: $white;
    &:hover {
      background: lighten(seagreen, 15%);
    }
  }
}

#modalButton {
  border: none;
  background-color: $background-color;
}

label[for="feather-search"] {
  font-size: .8rem;
  padding-top: ems(5);
}