img[src*="feather"] {
  width: 3em;
  padding-right: 1em;
  fill: $white;
}

svg {
  padding-left: ems(5);
  padding-top: .125em;
}

img[src*="plus"] {
  width: ems(20);
  fill: $primary-color;
  background-color: $background-color;
}
