main {
  width: 90%;
  margin: 0 auto;
}

.note-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0,.3);
  border-radius: ems(5);
  box-shadow: 0 3px 2px rgba(0,0,0,.5);
  margin-top: ems(20);
  padding: 10px 10px;
  @include mq(med) {
    margin-top: 0;
  }
}

.search-flex {
  @include mq(med) {
    @include flexb($just: space-between, $align: flex-start);
    margin-top: 3em;
    h1 {
      display: none;
    }
  }
  
}

.diary {
  margin-top: 3em;
  margin-bottom: 3em;
  & > div {
    display: flex;
    flex-direction: row;
  }
}

section {
  background: $primary-light;
  border-radius: ems(5);
  margin-bottom: 2em;
  padding: ems(5) ems(25);
}

footer {
  text-align: center;
}