.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  background: $color-bg-opacity;
  left: 0;
  top: 0;
  padding-top: 75px;
  &-content { // modal content
    background-color: $background-color;
    width: 90%;
    margin: auto;
    padding: ems(20);
    h2 {
      text-align: center;
      font-size: 1.625rem;
      margin: 0;
    }
  }
  &-colors {
    @include flexb($just: space-evenly, $wrap: wrap);
    background: $primary-light;
    padding-top: ems(10);
    padding-bottom: ems(10);
    border-radius: 5px;
    @include mq(med) {
      flex-wrap: nowrap;
    }
  }
}

.col {
  cursor: pointer;
}

.card {
  margin-top: ems(20);
}
