form {
  display: flex;
  flex-direction: row;
}

input {
  padding: ems(10);
  border: 1px solid $primary-color;
  border-radius: ems(5) 0 0 ems(5);
  margin-right: 0;
  flex-grow: 1;
}

button {
  background-color: $primary-color;
  border-radius: 0 ems(5) ems(5) 0;
  margin-left: 0;
  height: ems(40);
  width: ems(50);
}