* {
  box-sizing: border-box;
}

body {
  background: $background-color;
  color: $text-color;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 500;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: .8rem;

}

p {
  font-size: .9rem
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.lite {
  text-transform: uppercase;
  font-weight: 900;
}

.note {
  color: $text-dark;
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 5px;
}